body {
  background-color: #e9ecef;
}

.easy-game-main {
  padding: 4rem 2rem;
  border-radius: 0.3rem;
}

.game-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
}

.thumbs-up {
  color: dodgerblue;
}

.bookmark {
  color: #dc3545;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #16a3b8;
}

.play-area-3 {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto;
}
.play-area-4 {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto auto;
}
.play-area-5 {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto auto auto;
}
.play-area-6 {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto auto auto auto;
}

.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid black;
  transition: background 0.2s ease-in-out;
}

.no-border-top {
  border-top: none;
}

.no-border-bottom {
  border-bottom: none;
}

.no-border-left {
  border-left: none;
}

.no-border-right {
  border-right: none;
}

.block:hover {
  cursor: pointer;
  background: #16a3b8;
}
