// NAVBAR
#main-bar {
  //background: radial-gradient(circle at 0 0, $color1, lighten($color1, 10%));
  //border-bottom: 1px solid $color3;
  color: $color1;
  margin-bottom: 2rem;

  .search-field {
    background-color: $color1;
    border-color: $color3;
    color: lighten($color1, 60%);

    &:focus {
      &::-webkit-input-placeholder {
        text-indent: -999px;
      }
      &::-moz-placeholder {
        text-indent: -999px;
      }
      background-color: lighten($color1, 7%);
      border-color: lighten($color1, 40%);
    }
  }

  .dropdown-menu.show a {
    text-decoration: none;
    cursor: pointer;
  }
}

#site-name {
  color: $color2;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav-link {
  outline: none;
  cursor: pointer;
}

// TABS
.nav-tabs {
  .active {
    font-weight: normal !important;
  }
}

#site-menu,
#user-section {
  .nav-link {
    color: lighten($color1, 0%);

    &.active {
      // color: lighten($color1, 20%);
      border-bottom: 1px solid $color1;
    }
  }
}

footer {
  // background-color: lighten($color1, 60%);
  color: $color1;
}
